# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Editor
.idea/
.vscode/
.editorconfig

# Build directory
dist/

# Dust Box
dust/
.DS_Store*

# private informations
.clasp.json
appsscript.json